<div>

  <div>
    <h4>Thanks for the details, <%= name %>!</h4>
    <p>You are <%= age %> and your favorite numbers are <%= n1 %>, <%= n2 %> and <%= n3 %>.</p>
    <p>The sum of your favorite numbers is <%= total %>, which is <%= comparison %> than your age.</p>
    <p>Your quote is: "<%= quote %>"</p>
    <p>And your avatar is:</p>
    <img class="center-block" src="data:image/png;base64,<%= avatar %>">
  </div>

  <hr>

  <div>
    <h4>What would you like to do next?</h4>
    <div class="padding">
      <p><a href = "/">Enter info for someone else</a></p>
      <p><a href = "/list_users">View info for someone else</a></p>
    </div>
  </div>

  <hr>

</div>